body {
    font-size: 15pt;
    padding: 0;
    margin: 0;
    background-color: black;
}
.container {
  background-color: whitesmoke;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: #F9F54B;
  width:100%;
  height :50px;
  display :flex;
  justify-content: space-between;
  padding: 2px 0px 2px 0px;
}

.parentOfHeaderList{
  width:160px;
  display: flex;
  justify-content: space-evenly;
}

.twoDIcon{
  width: 45px;
  height :auto;
  border-radius: 40px;
  margin-left: 4px;
}
.calendar{
  width:32px;
  height : 35px;
  margin-top: 5.8px;
}
.history{
  margin-left: 2.8px;
  width:32px;
  height : 35px;
  margin-top: 5.8px;
}
.toDoList{
  margin-left:7.8px;
  width:35px;
  height : 35px;
  margin-top: 5.8px;
}
.section{
  width :100% ;
  height:220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color:red;
  
  
}
.result{
  font-size: 125px;
  font-weight: bold;
  font-style: oblique;
}
.parentOfScrool{
  width:100%;
}
.scroolDivForHistory{
  background-color: white;
  height :420px;
  overflow-y: scroll;
  width: 98%;
  padding: 3px 5px 5px 5px;
}
.hist{
  height: 127px;
  background-color: lightseagreen;
  display: flex;
  flex-direction:column;
  align-items: center ;
  padding: 6px 8px 6px 8px;
  justify-content: space-between;
  margin: 0px 0px 3px 0px;
  border-radius: 9px;
  
}

.number{
  color: red;
  font-weight: bold;
  font-size: 50px;
  text-align: end;
  
}
.date{
  color:green;
  text-align: start;
  border-bottom: 1.2px black solid;
  width:200px;
  text-align: center;
  padding-bottom: 7px;
}
.day{
  font-weight: lighter;
}
.footer{
  background-color: #86A3B8;
  width:100vw;
  height:70px ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advertisment{
  height :40px
}
.dayAndNum{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center
}
.multiplySign{
  margin-left:7.8px;
  width:35px;
  height : 35px;
  margin-top: 5.8px;
  display: none;
}
.showList{
  background-color: #E9E8E8;
  position: absolute;
  top: 6.4px;
  right:48px;
  display:none;
  flex-direction: column;
  align-items: center ;
  width: 300px;
  min-height: 400px;
  padding: 1px;
}
.inputTag{
  background-color: whitesmoke;
  width: 220px;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  color: black;
  padding: 10px;
  margin: 4px;
  display: none;
}
.topOfList{
  background-color: yellowgreen;
  width:100%;
  height :40px;
  display: flex;
  align-items: center ;
}
.icon {
  width: 25px;
  height: 30px;
  margin-left: 10px;
}
.scrollList{
  background-color: #E8E2E2;
  width:99%;
  height:360px;
  border: 1px deepskyblue solid;
  overflow-y: scroll;
}
.notes{
  background-color: #F0EEED;
  display: flex;
  justify-content: space-between;
  align-items: center ;
  margin: 3px 0px;
  
}


.textValue{
  width: 240px;
  overflow: scroll;
  color:#362FD9;
}