body {
    font-size: 15pt;
    text-align: center ;
    margin: 0;
}
.parentOfGame{
  display:inline-block;
  position: relative;
  
}
.forX{color:red;font-size: 90px;}


.forOne{
  width:100px;
  height :100px;
  position: absolute;
}
.forTwo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 100px;
  
}
.forThree {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 200px;
  
}
.forFour{
  width:100px;
  height :100px;
  position: absolute;
  top: 100px;
}
.forFive {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 100px;
  top:100px;
  
}
.forSix {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 200px;
  top: 100px;
  z-index: 0;
}
.forSeven {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 200px;
}
.forEight {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 100px;
  top: 200px;
  
}
.forNine {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 200px;
  top: 200px;
  
}
.showWiner{
  width: 200px;
  height: 50px;
  
  left: 50px;
  top:125px;
  font-size: 40px;
  
  display: none;
  align-items: center;
  justify-content: center;
  color:white;
  line-height: 50px;
  font-weight: lighter;
  position: absolute;
  z-index: 1;
}
.score{
  display:inline-block;
  background-color: dimgrey;
  margin-bottom:5px;
  padding: 5px
}
.restartButton{
  display: inline-block;
  background-color: orange;
  padding: 4px;
  width: 70px;
}
.nextButton {
  display: inline-block;
  background-color: orange;
  padding: 4px;
  width: 70px;
}
.container{
background-color: #091835;
  width:390px;
  height: 600px;
}